---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ejemplo de acordeon"
descripcion="programacion, web, clases"
palabras="">
	<main>
		<section class="container">
			<div class="row">
				<div class="col-lg-6" style="height: 50vh" >
					<img src = "imagenes/Gatete.jpg"alt="gatto bonito" width = "100%"> 
				</div>
			<div class="col-1g-6 px-5" style="padding: 0 8%" >
			<p> Loremen Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit laborum, sapiente sequi doloremque possimus eveniet repellat iusto sint nisi porro, cum cupiditate harum autem quasi doloribus ipsam enim explicabo </p>
			</div>
					
					
		
		
  </div>

</section>



		
		
	</main>
</Layout>
