---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro."
descripcion= "Seccion sobre mi proyecto, viajes"
palabras="Viaje, Journey, Mexico " >

<main>

    

    <h7 class= "container pt-5">Viajando con un Buenrostro</h7>


    <section class="container pt-5">
        <div class="row">
            <div class="col collage">
                <img src="/Imagenes/Collage.jpg" alt="Proyecto" width="100%">
            </div>
            <div class= "col">
                <p class="fs-5">Viajando con un Buenrostro es un proyecto de fotografía que consiste en la recopilación de los momentos mas memorables tomadas alrededor del viaje patrocinado por Buenrostro, el cual se lleva a cabo el primer mes del año y consta de viajar alrededor de ciertos sitios turísticos por el sureste del país de México. Lugares como Chiapas, Yucatán, Oaxaca y Veracruz. Usando como transporte un autobús y con hospedaje ya apartado, la experiencia del viaje con un Buenrostro es para toda la familia y aquellos que quieran pasar unas buenas vacaciones de tres semanas. El collage fotográfico representa solo algunos de los lugares mas espectaculares y momentos en las que la tripulación convive entre si, mostrando que el viaje puede llegar a unir a los pasajeros y de esta forma disfrutar de los lugares mas bellos que nos puede ofrecer nuestro país.
                </p>
            </div>
        </div>
    </section>

    <div class="text-center">
        <img src="/Imagenes/Map.PNG" class="Map" alt="mapa" width="50%">
      </div>

      <h7 class= "display-6">Descarga Contenido</h7>


      <div class="text-center" style="padding:-20%;">
        <a href="/Imagenes/PezEspacial.jpg" target="-blank">

            <img src="/Imagenes/LogoDescarga.PNG" class="Downlad" alt="..."width="10%" >
            

            </a>
      </div>

      <div class="text-center" style="padding:-20%;">
        <a href="/Imagenes/Catrina.jpg" target="-blank">

            <img src="/Imagenes/LogoDescarga.PNG" class="Downlad" alt="..."width="10%" >
            

            </a>
      </div>

      <div class="text-center" style="padding:-20%;">
        <a href="/Imagenes/ManoGigante.jpg" target="-blank">

            <img src="/Imagenes/LogoDescarga.PNG" class="Downlad" alt="..."width="10%" >
            

            </a>
      </div>



</main>



</Layout>